<!-- don't import this directly, for developing navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <img src="src/assets/sonar.svg" class="logo" alt="Sonar logo" />
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Tags</a>
        <a class="nav-link" href="#">Communities</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="#">Profile</a>
        <a class="nav-link" href="#">Logout</a>
      </div>
    </div>
  </div>
</nav>
