<!-- don't import this directly, for developing navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary"></nav>

<div class="container-fluid">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav me-auto">
      <button class="nav-link" data-page="home">
        <img src="src/assets/sonar.svg" class="logo" alt="Sonar logo" />
      </button>
      <button class="nav-link active" aria-current="page" data-page="home">
        Home
      </button>
      <button class="nav-link" data-page="tags">Tags</button>
      <button class="nav-link" data-page="communities">Communities</button>
      <button class="nav-link" data-page="profile">Profile</button>
      <button class="nav-link" data-page="login">Logout</button>
    </div>
  </div>
</div>
