@media (min-width: 992px) {
  .navbar {
    width: 25%;
    height: 100vh;
  }
  .navbar,
  .navbar-expand-lg .navbar-collapse,
  .navbar-expand-lg .navbar-nav {
    flex-direction: column !important;
    align-items: flex-start;
  }
  form input {
    margin-bottom: 0.7em;
  }
}

.logo {
  width: 25%;
  margin: 0 auto;
}
