.profile-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.profile-container {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  width: 350px;
}

.profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #ffffff;
}

.profile-field {
  margin-bottom: 15px;
}

.profile-field label {
  display: block;
  font-size: 0.9em;
  color: #b3b3b3;
}

.profile-field span {
  display: inline-block;
  margin-right: 10px;
}

.profile-field input {
  display: none;
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  background-color: #2a2a2a;
  color: #ffffff;
}

.profile-field.editing input {
  display: inline-block;
}

.profile-field.editing span {
  display: none;
}

.edit-button {
  background-color: #1db954;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

.save-button {
  background-color: #1db954;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: -10px;
  margin-bottom: 10px;
}
