/* base styles for all pages */
:root {
  --primary-color: #a9a9a9;
  --secondary-color: #343434;
  --background-color: #161616;
  --text-color: #030303;
  --gray-text-color: #bbbbbb;
  --white-text-color: #ffffff;
  --accent-color: #e10b04;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  zoom: 90%;
}

html,
body {
  margin: 0;
  padding: 0;
}

#viewContainer {
  display: flex;
  height: 100%;
}

/* fonts */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Container styling */
.song-selector {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 300px;
}

/* Heading */
.song-selector h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

/* List styling */
.song-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.song-item {
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.song-item:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.error {
  color: red;
  font-style: italic;
}
